<div
  class="article-banner-area page__title-area page__title-height page__title-overlay d-flex align-items-center"
  style="
    background-image: linear-gradient(to right, #04040430, #04040430),
      url('assets/image/breadcrumb.jpg');
  "
>
  <div class="container">
    <div class="row">
      <div class="col-xxl-12">
        <div class="page__title-wrapper mt-110">
          <h3 class="page__title">About us</h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerlink="/">Home</a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                About us
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Section Start -->
<div class="ui-about-area">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12 col-lg-4 mb-5 mb-lg-0">
        <div class="ui-about-area__iamge-group">
          <img src="assets/image/profile.jpeg" alt="about" class="w-100" />
          <div class="social-media-group">
            <h6 class="title">🌍 Follow me social media</h6>
            <ul class="social-link">
              <li class="github">
                <a href="https://github.com/John1316?tab=repositories">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 480 512"
                    width="20"
                    height="20"
                  >
                    <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path
                      d="M186.1 328.7c0 20.9-10.9 55.1-36.7 55.1s-36.7-34.2-36.7-55.1 10.9-55.1 36.7-55.1 36.7 34.2 36.7 55.1zM480 278.2c0 31.9-3.2 65.7-17.5 95-37.9 76.6-142.1 74.8-216.7 74.8-75.8 0-186.2 2.7-225.6-74.8-14.6-29-20.2-63.1-20.2-95 0-41.9 13.9-81.5 41.5-113.6-5.2-15.8-7.7-32.4-7.7-48.8 0-21.5 4.9-32.3 14.6-51.8 45.3 0 74.3 9 108.8 36 29-6.9 58.8-10 88.7-10 27 0 54.2 2.9 80.4 9.2 34-26.7 63-35.2 107.8-35.2 9.8 19.5 14.6 30.3 14.6 51.8 0 16.4-2.6 32.7-7.7 48.2 27.5 32.4 39 72.3 39 114.2zm-64.3 50.5c0-43.9-26.7-82.6-73.5-82.6-18.9 0-37 3.4-56 6-14.9 2.3-29.8 3.2-45.1 3.2-15.2 0-30.1-.9-45.1-3.2-18.7-2.6-37-6-56-6-46.8 0-73.5 38.7-73.5 82.6 0 87.8 80.4 101.3 150.4 101.3h48.2c70.3 0 150.6-13.4 150.6-101.3zm-82.6-55.1c-25.8 0-36.7 34.2-36.7 55.1s10.9 55.1 36.7 55.1 36.7-34.2 36.7-55.1-10.9-55.1-36.7-55.1z"
                    />
                  </svg>
                </a>
              </li>

              <li class="linkedin">
                <a href="https://www.linkedin.com/in/john-maher11/" target="_blank">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0 2.52683C0 1.88498 0.225232 1.35547 0.675676 0.938288C1.12612 0.52109 1.71172 0.3125 2.43243 0.3125C3.14029 0.3125 3.71299 0.517874 4.15058 0.92866C4.60102 1.35227 4.82625 1.90423 4.82625 2.58459C4.82625 3.20075 4.60747 3.71421 4.16988 4.12499C3.71944 4.5486 3.12741 4.76041 2.39382 4.76041H2.37452C1.66666 4.76041 1.09396 4.5486 0.656371 4.12499C0.218784 3.70138 0 3.16865 0 2.52683ZM0.250965 19.375V6.51261H4.53668V19.375H0.250965ZM6.9112 19.375H11.1969V12.1928C11.1969 11.7435 11.2484 11.397 11.3513 11.1531C11.5315 10.7166 11.805 10.3476 12.1718 10.0459C12.5386 9.74424 12.9987 9.59342 13.5521 9.59342C14.9936 9.59342 15.7143 10.5626 15.7143 12.5009V19.375H20V12.0003C20 10.1005 19.5496 8.65955 18.6486 7.67754C17.7477 6.69554 16.5573 6.20453 15.0772 6.20453C13.417 6.20453 12.1236 6.91697 11.1969 8.34184V8.38035H11.1776L11.1969 8.34184V6.51261H6.9112C6.93693 6.92338 6.94981 8.20062 6.94981 10.3444C6.94981 12.4881 6.93693 15.4983 6.9112 19.375Z"
                      fill="#006699"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-md-10 col-lg-6">
        <div class="ui-about-area__content">
          <ul class="content">
            <li class="text-danger-500">
              <i class="fa fa-code" aria-hidden="true"></i> Frontend
            </li>
            <li class="text-primary-500">📚 Developer</li>
            <li class="text-tertiary-500">🔥 Engineer</li>
          </ul>
          <h2 class="title">I'm a Professional Frontend Engineer.</h2>
          <p class="text">
            <span class="d-block pb-2"> Hello I'm John Maher </span>

            <span class="d-block pb-2">
              I’ve been studying, training and trying new skills to enhance my
              web development skills, I’d like to pursue my career as a
              professional Frontend engineer
            </span>
          </p>
          <a href="/assets/Johnmaher-Resume.pdf" target="_blank" class="ui-btn ui-btn-primary">
            <svg
              width="24"
              class="me-2"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.0625 10.3125L12 14.25L15.9375 10.3125"
                stroke="#8A43FF"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 3.75V14.25"
                stroke="#8A43FF"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M20.25 14.25V19.5C20.25 19.6989 20.171 19.8897 20.0303 20.0303C19.8897 20.171 19.6989 20.25 19.5 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V14.25"
                stroke="#8A43FF"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            Download CV
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-about-area__ellips">
    <svg
      width="296"
      height="944"
      viewBox="0 0 296 944"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_f_1629_6680)">
        <circle cx="472" cy="472" r="324" fill="#2B384C" />
      </g>
      <defs>
        <filter
          id="filter0_f_1629_6680"
          x="0"
          y="0"
          width="944"
          height="944"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="74"
            result="effect1_foregroundBlur_1629_6680"
          />
        </filter>
      </defs>
    </svg>
  </div>
</div>
<!-- About Section End -->
<div class="skills my-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12 wow animated zoomInLeft">
        <div class="about__heading mb-3">
          <h2 class="title about__heading--h2 heading__main">my skills</h2>
        </div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          cupiditate dignissimos soluta eum placeat eaque libero distinctio
          odit, consectetur perspiciatis expedita temporibus. Excepturi totam,
          quia ut autem aliquam nulla laboriosam possimus aspernatur officiis
          inventore in, fugit deleniti labore! Dolorum ipsa est, corrupti maxime
          nulla eos pariatur tempora facere laborum. Mollitia.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 wow animated zoomInLeft">
        <div class="row flex-column">

          <div class="wow animated zoomInLeft delay-1s mb-2">
            <div class="card services__card">
              <div class="card-body text-center">
                <i class="fas fa-paint-brush"></i>
                <h5 class="card-title">DESIGN</h5>
                <p class="card-text">
                  My Designs have a touch of creativity in every single inch
                </p>
              </div>
            </div>
          </div>
          <div class="wow animated zoomInUp delay-1s mb-2">
            <div class="card services__card">
              <div class="card-body text-center">
                <i class="fas fa-code"></i>
                <h5 class="card-title">Web developement</h5>
                <p class="card-text">
                  Turning the ui/ux design into coding website by different
                  languages
                </p>
              </div>
            </div>
          </div>

        </div>
        </div>
      <div class="col-12">
        <div class="row">
          <div
          class="col-md-6 wow animated zoomInRight delay-1s  mb-2"
        >
          <div class="card services__card">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt"></i>
              <h5 class="card-title">Responsive designs</h5>
              <p class="card-text">
                care about responsive on all mobiles,tablets &amp; laptops
              </p>
            </div>
          </div>
        </div>
          <div
          class="col-md-6 wow animated zoomInRight delay-1s  mb-2"
        >
          <div class="card services__card">
            <div class="card-body text-center">
              <i class="fas fa-laptop"></i>
              <h5 class="card-title">Clean code & Resuable software</h5>
              <p class="card-text">
                Caring about making my web app clean and Resuable
              </p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- <div class="col-lg-6 col-md-12 col-sm-12 wow animated zoomInRight">
        <div class="skills__progress">
          <div class="mx-3 text-uppercase d-flex justify-content-between">
            <h5>html</h5>
            <h5>100%</h5>
          </div>
          <div class="progress mb-2">
            <div
              role="progressbar"
              aria-valuenow="10"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar progress-bar-striped bg-portfolio"
              style="width: 100%"
            ></div>
          </div>
          <div class="mx-3 text-uppercase d-flex justify-content-between">
            <h5>css / scss</h5>
            <h5>90%</h5>
          </div>
          <div class="progress mb-2">
            <div
              role="progressbar"
              aria-valuenow="10"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar progress-bar-striped bg-portfolio"
              style="width: 90%"
            ></div>
          </div>
          <div class="mx-3 text-uppercase d-flex justify-content-between">
            <h5>bootstrap</h5>
            <h5>90%</h5>
          </div>
          <div class="progress mb-2">
            <div
              role="progressbar"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar progress-bar-striped bg-portfolio"
              style="width: 90%"
            ></div>
          </div>
          <div class="mx-3 text-uppercase d-flex justify-content-between">
            <h5>JavaScript/jQuery</h5>
            <h5>70%</h5>
          </div>
          <div class="progress mb-2">
            <div
              role="progressbar"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar progress-bar-striped bg-portfolio"
              style="width: 70%"
            ></div>
          </div>
          <div class="mx-3 text-uppercase d-flex justify-content-between">
            <h5>Angular</h5>
            <h5>85%</h5>
          </div>
          <div class="progress mb-2">
            <div
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar progress-bar-striped bg-portfolio"
              style="width: 70%"
            ></div>
          </div>
          <div class="mx-3 text-uppercase d-flex justify-content-between">
            <h5>Php</h5>
            <h5>90%</h5>
          </div>
          <div class="progress mb-2">
            <div
              role="progressbar"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar progress-bar-striped bg-portfolio"
              style="width: 90%"
            ></div>
          </div>
          <div class="mx-3 text-uppercase d-flex justify-content-between">
            <h5>Laravel</h5>
            <h5>60%</h5>
          </div>
          <div class="progress mb-2">
            <div
              role="progressbar"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar progress-bar-striped bg-portfolio"
              style="width: 60%"
            ></div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<div class="tools my-5">
  <div class="container">
    <div class="about__heading mb-3">
      <h2 class="title about__heading--h2 heading__main">My tools</h2>
    </div>
    <div class="d-flex justify-content-center">
      <div class="tools--icon">
        <i class="fab fa-angular"></i>
      </div>
      <div class="tools--icon">
        <i class="fab fa-react"></i>

      </div>
      <div class="tools--icon">
        <i class="fab fa-vuejs"></i>

      </div>
      <div class="tools--icon">
        <i class="fab fa-node-js"></i>
      </div>
      <div class="tools--icon">
        <i class="fab fa-laravel"></i>

      </div>
      <div class="tools--icon">
        <img src="/assets/image/nextjs.ico" alt="">

      </div>
    </div>
  </div>
</div>
