
  <!-- page title area start -->
  <section class="loader_sekelton page__title-area page__title-height" *ngIf="loading">
    <div class="row first_section align-items-center">
      <div class="col-xxl-12">
        <div class="container">
          <div class="page__title-wrapper description mt-110">
            <h3 class="page__title line">
            </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item line"><a routerLink="contact-us"></a></li>
                <li class="breadcrumb-item line active" aria-current="page">
                  <a >
                  </a>
                </li>

              </ol>
            </nav>
          </div>

        </div>
      </div>
    </div>

    <div class="row second_section py-4">

      <section class="skeleton course__area pt-120 pb-120">
        <!-- Project Section Start -->
<div class="dev-project-area">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-6 col-md-9 col-lg-8">
        <div class="dev-section-title description text-center">
          <h2 class="title line"></h2>
          <p class="text line" style="height: 30px">
          </p>
        </div>
      </div>

    </div>
    <div class="dev-project-area__slider ">
      <div class="dev-project-slider row">

        <div  class="col-md-4 mb-4">

          <div class="single-slider">
            <div class="dev-project-card">
              <div class="square line" style="height: 200px;"></div>

            </div>
          </div>
        </div>
        <div  class="col-md-4 mb-4">

          <div class="single-slider">
            <div class="dev-project-card">
              <div class="square line" style="height: 200px;"></div>

            </div>
          </div>
        </div>
        <div  class="col-md-4 mb-4">

          <div class="single-slider">
            <div class="dev-project-card">
              <div class="square line" style="height: 200px;"></div>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<!-- Project Section End -->
      </section>
    </div>

  </section>
  <!-- page title area end -->

<div
  class="article-banner-area page__title-area page__title-height page__title-overlay d-flex align-items-center"
  style="
    background-image: linear-gradient(to right, #04040430, #04040430),
      url('assets/image/breadcrumb.jpg');"
>
  <div class="container">
    <div class="row">
      <div class="col-xxl-12">
        <div class="page__title-wrapper mt-110">
          <h3 class="page__title">Portfolio</h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Portfolio
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Project Section Start -->
<div class="dev-project-area">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-6 col-md-9 col-lg-8">
        <div class="dev-section-title text-center">
          <h2 class="title heading__main--center">Latest Case Study</h2>
          <p class="text">Morbi risus elit, fringilla in cursus a, molestie non dui. Nunc accumsan gravida risus, ac semper libero mollis ut.</p>
        </div>
      </div>

    </div>
    <div class="dev-project-area__slider ">
      <div class="dev-project-slider row">

        <div *ngFor="let project of projects" class="col-md-4 mb-4">

          <div class="single-slider">
            <div class="dev-project-card">
              <img [src]="project.img" [alt]="project.title" class="w-100">
              <div class="content">
                <ul class="list" >

                <li *ngFor="let ul of project.ul.li">{{ul}}</li>

                </ul>
                <h6>{{project.title}}</h6>
                <a class="link-btn" [href]="project.href" target="_blank">View Case Study
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4 mb-4">

          <div class="single-slider">
            <div class="dev-project-card">
              <img src="assets/image/por2.png" alt="project" class="w-100">
              <div class="content">
                <ul class="list">
                  <li>Angular</li>
                  <li class="dot"></li>
                  <li>Spa</li>
                  <li class="dot"></li>
                  <li>SCSS</li>
                </ul>
                <h6>Aklny shokran - End user</h6>
                <a class="link-btn" href="https://johnmaher14.github.io/articles_build/" target="_blank">View Case Study
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">

          <div class="single-slider">
            <div class="dev-project-card">
              <img src="assets/image/por3.png" alt="project" class="w-100">
              <div class="content">
                <ul class="list">
                  <li>Angular</li>
                  <li class="dot"></li>
                  <li>HTML</li>
                  <li class="dot"></li>
                  <li>SCSS</li>
                </ul>
                <h6>Digital Bond - End user</h6>
                <a class="link-btn" href="https://digitalbondmena.com/db-portfolio" target="_blank">View Case Study
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">

          <div class="single-slider">
            <div class="dev-project-card">
              <img src="assets/image/por12.jpg" alt="project" class="w-100">
              <div class="content">
                <ul class="list">
                  <li>Angular</li>
                  <li class="dot"></li>
                  <li>HTML</li>
                  <li class="dot"></li>
                  <li>CSS</li>
                </ul>
                <h6>Movies - Authentication</h6>
                <a class="link-btn" href="https://angularmovie.netlify.app/" target="_blank">View Case Study
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">

          <div class="single-slider">
            <div class="dev-project-card">
              <img src="assets/image/ziSushi.png" alt="project" class="w-100">
              <div class="content">
                <ul class="list">
                  <li>Laravel</li>
                  <li class="dot"></li>
                  <li>HTML</li>
                  <li class="dot"></li>
                  <li>CSS</li>
                  <li class="dot"></li>
                  <li>AJAX</li>
                </ul>
                <h6>Zi sushi</h6>
                <a class="link-btn" href="https://digitalbondmena.com/zsushi_old" target="_blank">View Case Study
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">

          <div class="single-slider">
            <div class="dev-project-card">
              <img src="assets/image/egec.png" alt="project" class="w-100">
              <div class="content">
                <ul class="list">
                  <li>Angular</li>
                  <li class="dot"></li>
                  <li>HTML</li>
                  <li class="dot"></li>
                  <li>CSS</li>
                </ul>
                <h6>EGEC</h6>
                <a class="link-btn" href="https://johnmaher14.github.io/egec_build" target="_blank">View Case Study
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">

          <div class="single-slider">
            <div class="dev-project-card">
              <img src="assets/image/Eatcrispy.png" alt="project" class="w-100">
              <div class="content">
                <ul class="list">
                  <li>Laravel</li>
                  <li class="dot"></li>
                  <li>HTML</li>
                  <li class="dot"></li>
                  <li>CSS</li>
                  <li class="dot"></li>
                  <li>AJAX</li>
                </ul>
                <h6>Eat Crispy - E-commerce</h6>
                <a class="link-btn" href="https://digitalbondmena.com/EatsCrispy/en" target="_blank">View Case Study
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- Project Section End -->
